.TodoSearch {
    background: rgba(250, 234, 183, 0.7);
    border-radius: 2px;
    border: 0px solid #202329;
    margin: 0 24px;
    height: 64px;
    width: calc(100% - 62px);
    font-size: 24px;
    text-align: center;
    border-radius: 5px;
    font-weight: 400;
    box-shadow: 0px 5px 50px rgba(32, 35, 41, 0.25);
}

.TodoSearch::placeholder {
    font-weight: 400;
}

.TodoSearch:focus {
    outline-color: #000;
}